<header
  class="sticky top-0 z-10 flex items-center justify-between bg-BACKGROUND py-8"
>
  <img src="../../assets/logo.svg" alt="Coffee Delivery logo" />

  <div class="flex gap-3">
    <div class="flex items-center gap-1 rounded-md bg-PURPLE-LIGHT p-2">
      <mat-icon class="text-PURPLE-DARK" svgIcon="ph-fill:map-pin" />
      <span class="text-PURPLE-DARK">Porto Alegre, RS</span>
    </div>

    <button
      type="button"
      class="relative flex items-center rounded-md bg-YELLOW-LIGHT p-2 transition-colors hover:bg-YELLOW-REGULAR/30"
    >
      <mat-icon class="text-YELLOW-DARK" svgIcon="ph-fill:shopping-cart" />
      @if (cart) {
        <span
          class="translate-y- absolute -right-[6.5px] -top-[6.5px] h-5 w-5 rounded-full bg-YELLOW-DARK text-sm font-bold text-white"
          >3</span
        >
      }
    </button>
  </div>
</header>
