<header class="flex items-center justify-between py-8">
  <img src="../../assets/logo.svg" alt="Coffee Delivery logo" />

  <div class="flex gap-3">
    <div class="bg-PURPLE-LIGHT flex items-center gap-1 rounded-md p-2">
      <mat-icon class="text-PURPLE-DARK" svgIcon="ph-fill:map-pin" />
      <span class="text-PURPLE-DARK">Porto Alegre, RS</span>
    </div>

    <div class="bg-YELLOW-LIGHT flex items-center rounded-md p-2">
      <mat-icon class="text-YELLOW-DARK" svgIcon="ph-fill:shopping-cart" />
    </div>
  </div>
</header>
