<header
  class="sticky top-0 z-10 flex items-center justify-between bg-BACKGROUND py-8"
>
  <img src="../../assets/logo.svg" alt="Coffee Delivery logo" />

  <div class="flex gap-3">
    <div class="flex items-center gap-1 rounded-md bg-PURPLE-LIGHT p-2">
      <mat-icon class="text-PURPLE-DARK" svgIcon="ph-fill:map-pin" />
      <span class="text-PURPLE-DARK">Porto Alegre, RS</span>
    </div>

    <div class="flex items-center rounded-md bg-YELLOW-LIGHT p-2">
      <mat-icon class="text-YELLOW-DARK" svgIcon="ph-fill:shopping-cart" />
    </div>
  </div>
</header>
