<div class="px-40">
  <app-header></app-header>

  <div class="flex items-center justify-between gap-14 py-24">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-6">
        <h1
          class="font-display text-BASE-TITLE text-5xl font-extrabold leading-[130%]"
          style="white-space: pre-line"
        >
          Encontre o café perfeito<br />para qualquer hora do dia
        </h1>

        <span class="text-BASE-SUBTITLE text-lg leading-[130%]"
          >Com o Coffee Delivery você recebe seu café onde estiver, a qualquer
          hora</span
        >
      </div>

      <div class="flex gap-10">
        <div class="flex flex-col gap-5">
          <div class="flex items-center gap-3">
            <div
              class="bg-YELLOW-DARK flex items-center justify-center rounded-md p-2"
            >
              <mat-icon
                class="text-white"
                svgIcon="ph-fill:shopping-cart"
              ></mat-icon>
            </div>
            <span class="text-BASE-SUBTITLE leading-[130%]"
              >Compra simples e segura</span
            >
          </div>

          <div class="flex items-center gap-3">
            <div
              class="bg-YELLOW-REGULAR flex items-center justify-center rounded-md p-2"
            >
              <mat-icon class="text-white" svgIcon="ph-fill:timer"></mat-icon>
            </div>
            <span class="text-BASE-SUBTITLE leading-[130%]"
              >Entrega rápida e rastreada</span
            >
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex items-center gap-3">
            <div
              class="bg-BASE-TITLE flex items-center justify-center rounded-md p-2"
            >
              <mat-icon class="text-white" svgIcon="ph-fill:package"></mat-icon>
            </div>
            <span class="text-BASE-SUBTITLE leading-[130%]"
              >Embalagem mantém o café intacto</span
            >
          </div>

          <div class="flex items-center gap-3">
            <div
              class="bg-PURPLE-DARK flex items-center justify-center rounded-md p-2"
            >
              <mat-icon class="text-white" svgIcon="ph-fill:coffee"></mat-icon>
            </div>
            <span class="text-BASE-SUBTITLE leading-[130%]"
              >O café chega fresquinho até você</span
            >
          </div>
        </div>
      </div>
    </div>

    <img src="../../assets/coffee-illustration.png" alt="" class="" />
  </div>

  <ul class="flex flex-col gap-14 pt-8">
    <h2
      class="font-display text-BASE-TITLE text-3xl font-extrabold leading-[130%]"
    >
      Nossos cafés
    </h2>

    LISTA DE CAFES
  </ul>
</div>
